In [38]:
import pandas as pd
import numpy as np
import seaborn as sns

In [39]:
df = pd.read_csv("data.csv")

In [40]:
for i, row in df.iterrows():
    txt = "User{0}"
    df['Timestamp'][i] = txt.format(i) 

df.columns=["Users", "CMSC131", "CMSC132", "CMSC216", "CMSC250", "CMSC330", "CMSC351", "MATH140", "MATH141", "MATH240", "MATH241", 
              "STAT400", "CS_Track", "CMSC4XX", "CMSC411", "CMSC412", "CMSC414", "CMSC416", "CMSC417", "CMSC420", "CMSC421",
              "CMSC422", "CMSC423", "CMSC424", "CMSC426", "CMSC427", "CMSC470", "CMSC430", "CMSC433", "CMSC434", "CMSC435", "CMSC436", 
              "CMSC451", "CMSC452", "CMSC454", "CMSC456", "CMSC457", "CMSC460", "CMSC466", "CMSC320", "CMSC425", "CMSC472", 
              "CMSC473", "CMSC474", "CMSC475", "Graduated"]

In [41]:
df.head()

,Users,CMSC131,CMSC132,CMSC216,CMSC250,CMSC330,CMSC351,MATH140,MATH141,MATH240,...,CMSC457,CMSC460,CMSC466,CMSC320,CMSC425,CMSC472,CMSC473,CMSC474,CMSC475,Graduated
0,User0,A,A,A,A,A,B-,A,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,Not Completed
1,User1,A,A-,A-,A,A,A+,A,A,Not Attempted,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,User2,B,B-,B,C+,A,A,A,A,A,...,Not Attempted,Not Attempted,NaN,B-,NaN,NaN,NaN,NaN,NaN,Not Completed
3,User3,A,B+,B-,B,B+,C-,Not Attempted,Not Attempted,B,...,Not Attempted,Not Attempted,Not Attempted,Don't want to share,Not Attempted,Not Attempted,Not Attempted,Not Attempted,Not Attempted,Not Completed
4,User4,A,A,A-,A,A-,A+,A,A+,A-,...,Not Attempted,Not Attempted,Not Attempted,A,Not Attempted,Not Attempted,Not Attempted,Not Attempted,Not Attempted,Not Completed

In [42]:
df = df.replace("Don't want to share", "Not Attempted")

In [43]:
def replace_not_attempted(df, grade):
    return df.replace('Not Attempted', grade)

In [44]:
df2 = df[["Users", "CMSC131", "CMSC132", "CMSC216", "CMSC250"]]

In [45]:
df_cs_Aplus = replace_not_attempted(df2, 'A+')
df_cs_A = replace_not_attempted(df2, 'A')
df_cs_Aminus = replace_not_attempted(df2, 'A-')
df_cs_Bplus = replace_not_attempted(df2, 'B+')
df_cs_B = replace_not_attempted(df2, 'B')
df_cs_Bminus = replace_not_attempted(df2, 'B-')

In [46]:
df3 = df[["Users", "MATH140", "MATH141", "MATH240", "MATH241", "STAT400"]]

In [47]:
df_math_Aplus = replace_not_attempted(df3, 'A+')
df_math_A = replace_not_attempted(df3, 'A')
df_math_Aminus = replace_not_attempted(df3, 'A-')
df_math_Bplus = replace_not_attempted(df3, 'B+')
df_math_B = replace_not_attempted(df3, 'B')
df_math_Bminus = replace_not_attempted(df3, 'B-')

In [48]:
df_upper = df[["Users", "CMSC330", "CMSC351", "CMSC411", "CMSC412", "CMSC414", "CMSC416", "CMSC417", "CMSC420", "CMSC421",
              "CMSC422", "CMSC423", "CMSC424", "CMSC426", "CMSC427", "CMSC470", "CMSC430", "CMSC433", "CMSC434", "CMSC435", "CMSC436", 
              "CMSC451", "CMSC452", "CMSC454", "CMSC456", "CMSC457", "CMSC460", "CMSC466", "CMSC320", "CMSC425", "CMSC472", 
              "CMSC473", "CMSC474", "CMSC475"]]

In [49]:
df_upper = df_upper.replace("Not Attempted", np.NaN)

In [50]:
def merger(df, df_cs, df_math, df_upper):
    df = df[["Users", "CS_Track", "CMSC4XX", "Graduated"]]
    df_temp = df.merge(df_math, on = "Users")
    df_temp = df_temp.merge(df_cs, on = "Users")
    return df_temp.merge(df_upper, on = "Users")

In [51]:
merger(df, df_cs_A, df_math_A, df_upper)

,Users,CS_Track,CMSC4XX,Graduated,MATH140,MATH141,MATH240,MATH241,STAT400,CMSC131,...,CMSC456,CMSC457,CMSC460,CMSC466,CMSC320,CMSC425,CMSC472,CMSC473,CMSC474,CMSC475
0,User0,General,Yes,Not Completed,A,A,A,A,A,A,...,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
1,User1,General,No,NaN,A,A,A,A,A+,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,User2,General,Yes,Not Completed,A,A,A,A,B+,B,...,NaN,NaN,NaN,NaN,B-,NaN,NaN,NaN,NaN,NaN
3,User3,Data Science,Yes,Not Completed,A,A,B,B+,B-,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,User4,General,Yes,Not Completed,A,A+,A-,A,A,A,...,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,User160,General,No,NaN,A,A,B+,A,A+,B-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,User161,General,Yes,Not Completed,A,A,A,A,A,A,...,NaN,NaN,NaN,NaN,A+,NaN,NaN,NaN,NaN,NaN
162,User162,Machine Learning,Yes,Not Completed,A,A,A,A,A,B,...,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
163,User163,General,Yes,Not Completed,A+,A+,B,A,B,A+,...,NaN,NaN,NaN,NaN,A+,A,NaN,NaN,NaN,NaN
164,User164,General,No,NaN,A,A,A,A,A,C-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN